{% extends 'level_2/level2base.html' %} 
{% block content %}
<div
  class="w-full lg:w-1/3 bg-gray-800 p-6 rounded-xl shadow-xl border border-gray-700"
>
  <h1 class="text-3xl font-bold text-cyan-400">CHALLENGE-2</h1>
  <h2 class="text-xl font-semibold mt-2 text-gray-200">The Busy Bakery</h2>
  <p class="mt-4 text-gray-300">
    A local bakery🎂 makes cookies that cost $2 each. To encourage larger
    orders, the bakery offers a discount: if a customer orders more than 10
    cookies, each cookie costs $1.50.
  </p>
  <p class="mt-2 text-gray-300">
    Write a program that <strong>takes the number of cookies sold as input</strong> and calculate the total cost of an order
  </p>
  <h3 class="text-lg font-semibold mt-4 text-yellow-400">TEST CASE:</h3>
  <p id="input" class="bg-gray-700 text-gray-200 p-2 rounded mt-2">
    INPUT: 13
  </p>
  <p>OUTPUT: $19.5</p>
</div>
{% endblock %}

{% block redirection %}

document.getElementById("next-btn").addEventListener("click", () => {
    window.location.href = "{% url 'question' level=2 question=3 %}"; // Change this to the actual next page URL
});

{% endblock %}